@media only screen and (max-width:1100px) {
    .wrapper {
        width: 90%;
    }
}


#social {
    position: absolute;
    width: auto;
    border-top-width: 82px;
    border-right-width: 4px;
}

@media only screen and (min-width: 900px) {
    body {
        font-size: 85%;
    }
    #logo h1 {
        height: 35px;
        width: 35px;
    }
    #logo h2 {
        font-size: 2.2em;
    }
    #social {
        top: 72px;
    }
    .col-3 p {
        -moz-column-rule: 1px dotted #ccc;
        -webkit-column-rule: 1px dotted #ccc;
        column-rule: 1px dotted #ccc;
        -moz-column-gap: 1.5em;
        -webkit-column-gap: 1.5em;
        column-gap: 1.5em;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    } 
}

@media only screen and (max-width: 750px) {
    #navbar nav {
        font-size: 0.9em;
    }
    .col-3 p {
        -moz-column-rule: 1px dotted #ccc;
        -webkit-column-rule: 1px dotted #ccc;
        column-rule: 1px dotted #ccc;
        -moz-column-gap: 1.5em;
        -webkit-column-gap: 1.5em;
        column-gap: 1.5em;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    } 
    .col-1 {
        float: none;
        width: 100%;
        margin-left: 0;
      }
    .col-2 {
        float: none;
        width: 100%;
        margin-left: 0;
      } 
    .col-3 {
        float: none;
        width: 100%;
        margin-left: 0;
      }   
    .border-right {
        border: 0;
    }
    #details div {
        height: auto;
    }

}

@media only screen and (max-width: 500px) {
    #logo h2 {
        visibility;
    }
}
